# Database Connection
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_host
POSTGRES_PORT=5432
POSTGRES_DB=postgres_database



JWT_SECRET="Secret_Key"
GEMINI_API_KEY="<Gemini_API_Key>"
